<ion-content>
  <div class="main">
    <div class="image">
      <img src="../../assets/images/drake.jpg" alt="artistImage" />
    </div>
    <div class="buttons">
      <button class="full-button">
        <img src="../../assets/images/clb.png" alt="albumImage" />
        <p>View All Albums</p>
      </button>
      <button class="full-button">
        <img src="../../assets/images/clb.png" alt="albumImage" />
        <p>View All Songs</p>
      </button>
      <button class="full-button">
        <img src="../../assets/images/clb.png" alt="albumImage" />
        <p>View Statistics</p>
      </button>
    </div>
  </div>
</ion-content>
