<ion-header> </ion-header>

<ion-content>
  <div class="main">
    <div class="box">
      <h1>Sign Up Form</h1>
      <label for="name">
        <p>Name:</p>
        <input type="text" id="name" />
      </label>
      <label for="email">
        <p>Email:</p>
        <input type="email" id="email" />
      </label>
      <label for="password"
        ><p>Password:</p>
        <input type="password" id="password" />
      </label>
      <label for="repassword"
        ><p>Retype Password</p>
        <input type="password" id="repassword" />
      </label>
      <button class="btn">Sign Up</button>
      <a routerLink="/login"><p>Already Have and account? Login</p></a>
    </div>
  </div>
</ion-content>
