@import "../../global.scss";
@import "../../components/formBox.scss";

.main {
  width: 100%;
  height: 100%;
  background-color: #e6cb00e3;
  @include centerFlex;
  background-image: url(../../assets/images/loginBackground.png);

  form {
    @include centerFlex;
    flex-direction: column;
  }
}
